
body {
    font-family: Arial, sans-serif;
    background-color: rgb(119, 115, 115);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.user {
    background-color: rgba(89, 74, 74, 0.43);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

.user button {
    background-color: rgba(89, 74, 74, 0.43);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    width: 100%;
}

